<template>
  <div :class="$style.booq">
    <ApolloQuery
      :query="require('../graphql/PartialBooqQuery.gql')"
      :variables="{ id: booqId, path }"
    >
      <template slot-scope="{ result: { loading, error, data } }">
        <!-- Loading -->
        <div v-if="loading" key="spinner" class="spinner">Loading...</div>

        <!-- Error -->
        <div v-else-if="error" class="error apollo">An error occured</div>

        <!-- Result -->
        <div v-else-if="data" :class="$style.results">
          <BooqLayout :booqId="booqId" :booq="data.booq" :quote="quote" :path="path" />
        </div>

        <!-- No result -->
        <div v-else>...</div>
      </template>
    </ApolloQuery>
  </div>
</template>

<script>
import BooqLayout from "@/components/BooqLayout.vue";

export default {
  name: "Booq",
  props: {
    booqId: String,
    path: Array,
    quote: Object,
  },
  components: { BooqLayout },
};
</script>

<style module>
.booq {
  display: flex;
  flex-flow: column;
}
</style>
