<template>
  <div :class="$style.home">
    <AppBar />
    <Featured />
  </div>
</template>

<script>
import AppBar from "@/components/AppBar.vue";
import Featured from "@/components/Featured.vue";

export default {
  name: "Home",
  components: {
    AppBar,
    Featured,
  },
};
</script>

<style module>
.home {
  display: flex;
  flex-flow: column;
}
</style>
