<template>
  <div :class="$style.container">
    <div :class="$style.logo">
      <Logo />
    </div>
    <div :class="$style.search">
      <Search
        query="rep"
        :results="[
        { title: 'Republic', author: 'Plato'},
      {title: 'Adrep', author: 'Bomari'},
      ]"
      />
    </div>
  </div>
</template>

<script>
import Logo from "@/components/Logo.vue";
import Search from "@/components/Search.vue";

export default {
  name: "AppBar",
  components: {
    Logo,
    Search,
  },
};
</script>

<style module>
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--panel-height);
  padding: var(--x-large) var(--regular);
}
.logo {
  display: none;
  flex-direction: column;
  flex: 0 0;
  margin: 0 var(--x-large) 0 0;
}
@media (min-width: 40rem) {
  .logo {
    display: flex;
  }
  .container {
    padding: var(--x-large) var(--large);
  }
}
.search {
  display: flex;
  flex-direction: column;
  flex: 1;
}
</style>
