<template>
  <div :class="$style.panel">
    <div :class="$style.container">
      <div :class="$style.cover">
        <BooqCover :title="item.title" :author="item.author" :cover="item.cover" :size="70" />
      </div>
      <div :class="$style.details">
        <div :class="$style.header">
          <span :class="$style.title">{{item.title}}</span>
          <span :class="$style.author">by {{item.author}}</span>
        </div>
        <div :class="$style.tags">
          <div
            :key="idx"
            v-for="(pill, idx) in pills"
            :style="{
              fontSize: 'small',
              color: pill.color,
              padding: '0 var(--large) 0 0',
              margin: 'var(--small) var(--small) 0 0',
          }"
          >{{pill.label}}</div>
        </div>
        <div :class="$style.actions">
          <BooqLink :booqId="item.id">
            <div :class="$style.read">Read</div>
          </BooqLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BooqCover from "@/components/BooqCover.vue";
import BooqLink from "@/components/BooqLink.vue";

export default {
  name: "BooqCard",
  props: {
    item: Object,
  },
  computed: {
    pills() {
      return this.item.tags.map((tag) => {
        switch (tag.tag.toLowerCase()) {
          case "language":
            return {
              color: "#4CAF50",
              label: tag.value.toUpperCase(),
            };
          case "subject":
            return {
              color: "#673AB7",
              label: tag.value ?? "subject",
            };
          case "pg-index":
            return {
              color: "pink",
              label: "Project Gutenberg",
            };
          case "pages":
            return {
              color: "var(--theme-primary)",
              label: `${tag.value} pages`,
            };
          default:
            return { color: "white", label: "" };
        }
      });
    },
  },
  components: { BooqCover, BooqLink },
};
</script>

<style module>
.container {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: var(--large);
  align-items: center;
}
.cover {
  display: flex;
  margin: var(--regular);
}
.details {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin: var(--regular) 0 var(--regular) 0;
}
.tags {
  display: flex;
  flex-flow: row wrap;
  margin: var(--large) 0 0 0;
}
.actions {
  margin: var(--large) 0 0 0;
}
@media (min-width: 600px) {
  .container {
    flex-flow: row wrap;
    align-items: stretch;
  }
  .cover {
    margin: var(--regular) var(--xx-large) var(--regular) 0;
  }
}
.panel {
  display: flex;
  flex-direction: row;
  flex: 0 1;
  width: 40rem;
  max-width: 40rem;
  margin: var(--x-large);
  border-radius: var(--radius);
  overflow: hidden;
}
.header {
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
}
.title {
  font-size: x-large;
  font-weight: 700;
}
.author {
  font-size: large;
}
.read {
  color: var(--theme-action);
  text-decoration: underline;
  font-size: large;
  cursor: pointer;
  transition: color 0.25s;
}
.read:hover {
  color: var(--theme-highlight);
}
</style>