<template>
  <div :class="$style.container">
    <!-- {PrevButton} -->
    <NavigationButton
      v-if="booq.fragment.previous"
      :booqId="booqId"
      :path="booq.fragment.previous.path"
      :title="booq.fragment.previous.title || 'Previous'"
    />
    <div :class="$style.booq">
      <BooqContent
        :booqId="booqId"
        :nodes="booq.fragment.nodes"
        :range="range"
        :augmentations="augmentations"
        :path="navigateTo"
      />
    </div>
    <NavigationButton
      v-if="booq.fragment.next"
      :booqId="booqId"
      :path="booq.fragment.next.path"
      :title="booq.fragment.next.title || 'Next'"
    />
    <div :class="$style.controls">
      <div :class="$style.main">
        <router-link to="/" :class="$style.link">
          <Icon name="back" />
        </router-link>
      </div>
      <div class="nav"></div>
      <div class="themer"></div>
      <div class="account"></div>
      <div class="page"></div>
      <div class="left"></div>
      <div class="content" />
      <div class="back-top" />
      <div class="back-bottom" />
      <div class="ctx"></div>
      <div class="navc"></div>
    </div>
  </div>
</template>

<script>
import BooqContent from "@/components/BooqContent.vue";
import NavigationButton from "@/components/NavigationButton.vue";
import Icon from "@/components/Icon.vue";

export default {
  name: "BooqLayout",
  props: {
    booqId: String,
    booq: Object,
    path: Array,
    quote: Object,
  },
  components: { BooqContent, NavigationButton, Icon },
  computed: {
    navigateTo() {
      return this.quote?.start ?? this.path;
    },
    range() {
      return {
        start: this.booq.fragment.current.path,
        end: this.booq.fragment.next?.path ?? [this.booq.fragment.nodes.length],
      };
    },
    augmentations() {
      return this.quote
        ? [
            {
              range: this.quote,
              color: "orange",
              id: "quote/0",
            },
          ]
        : [];
    },
  },
};
</script>

<style module>
.container {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
}
.booq {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  max-width: 45rem;
}
@media (max-width: 60rem) {
  .booq {
    padding: 0 var(--large);
  }
  .container {
    padding: var(--xx-large) 0;
  }
}
.link {
  color: var(--theme-dimmed);
}
.link:hover {
  color: var(--theme-highlight);
}
.controls {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 64px 64px 1fr 45rem 1fr 64px 64px;
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-areas:
    "main nav  .    content .    themer account"
    "navc navc navc content .    .      .      "
    "page page page content left left   left   ";
}
.content {
  grid-area: content;
  align-self: stretch;
  justify-self: stretch;
}
.ctx {
  grid-area: content;
  pointer-events: none;
  align-self: stretch;
  justify-self: stretch;
}
.navc {
  display: flex;
  flex: 1 1;
  grid-area: 2 / 1 / 4 / 4;
  padding: var(--regular) 0 0 0;
  pointer-events: auto;
  overflow: hidden;
  align-self: stretch;
  justify-self: stretch;
  transition: 250ms transform;
  background: var(--theme-background);
}
.main,
.nav,
.themer,
.account,
.page,
.left {
  transition: 250ms transform;
}
.main,
.nav,
.themer,
.account {
  pointer-events: auto;
  padding: 0 var(--large);
}
.main {
  grid-area: main;
}
.nav {
  grid-area: nav;
}
.themer {
  grid-area: themer;
}
.account {
  grid-area: account;
}
.page {
  grid-area: page;
  justify-self: flex-start;
  padding: var(--large);
}
.left {
  grid-area: left;
  justify-self: flex-end;
  padding: var(--large);
}
.back-top,
.back-bottom {
  display: none;
  transition: 250ms transform;
}
@media (max-width: 60rem) {
  .container {
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-areas:
      "main    nav     .       themer  account"
      "content content content content content"
      "page    page    .       left    left";
  }
  .ctx {
    grid-area: 2 / 1 / 4 / 6;
  }
  .navc {
    grid-area: 2 / 1 / 4 / 6;
    padding: var(--regular) var(--large) 0 var(--large);
  }
  .back-top,
  .back-bottom {
    display: block;
    z-index: -1;
    align-self: stretch;
    justify-self: stretch;
    background: var(--theme-background);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .back-top {
    grid-area: 1 / 1 / 1 / 6;
  }
  .back-bottom {
    grid-area: 3 / 1 / 3 / 6;
  }
}
.navc.closed {
  transform: translateX(-100%);
}
</style>