<template>
  <div :style="style">
    <BooqImageCover v-if="!!cover" :cover="cover" :title="title" />
    <BooqDefaultCover v-else :title="title" :author="author" :size="size" />
  </div>
</template>

<script>
import BooqDefaultCover from "@/components/BooqDefaultCover.vue";
import BooqImageCover from "@/components/BooqImageCover.vue";
export default {
  name: "BooqCover",
  props: {
    title: String,
    author: String,
    cover: String,
    size: Number,
  },
  computed: {
    style() {
      return {
        display: "flex",
        flexShrink: "0",
        alignItems: "stretch",
        borderRadius: "var(--radius)",
        overflow: "hidden",
        width: `${this.size * 2}px`,
        height: `${this.size * 3}px`,
      };
    },
  },
  components: { BooqDefaultCover, BooqImageCover },
};
</script>