<template>
  <div :title="title" :class="$style.container">
    <div :class="$style.cover" :style="style">{{title}}</div>
  </div>
</template>

<script>
export default {
  name: "BooqDefaultCover",
  props: ["title", "size"],
  computed: {
    style() {
      const fontSize = calcFontSize(this.title, this.size);
      const { back, text } = calcColors(this.title);

      return {
        fontSize,
        background: back,
        color: text,
      };
    },
  },
};
const coverColors = [
  {
    back:
      "linear-gradient(0deg, rgba(255,165,0,0.5) 0%, rgba(255,165,0,1) 100%)",
    text: "white",
  },
  {
    back:
      "linear-gradient(0deg, rgba(102, 51, 153,0.5) 0%, rgba(102, 51, 153,1) 50%)",
    text: "white",
  },
  {
    back: "linear-gradient(0deg, rgba(0,100,0,0.5) 0%, rgba(0,100,0,1) 100%)",
    text: "white",
  },
  {
    back:
      "linear-gradient(0deg, rgba(65,105,225,0.5) 0%, rgba(65,105,225,1) 100%)",
    text: "white",
  },
  {
    back:
      "linear-gradient(0deg, rgba(210,105,30,0.5) 0%, rgba(210,105,30,1) 100%)",
    text: "white",
  },
  {
    back: "black",
    text: "white",
  },
];

function calcColors(title) {
  const rand = title
    .split("")
    .reduce((n, ch) => n + ch.charCodeAt(0), title.length);
  const idx = rand % coverColors.length;

  return coverColors[idx];
}

// TODO: rethink this
function calcFontSize(title, size) {
  const words = title.split(" ").sort((a, b) => b.length - a.length);
  const maxLength = words[0]?.length ?? 0;
  const count = title.length / 10;
  const width = (size * 2) / maxLength;
  const height = ((size * 3) / count) * 0.75;
  const result = Math.floor(Math.min(width, height));
  return `${result}px`;
}
</script>

<style module>
.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
}
.cover {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 10%;
}
</style>