<template>
  <div :title="title" :style="style"></div>
</template>
    
<script>
export default {
  name: "BooqImageCover",
  props: {
    cover: String,
    title: String,
  },
  computed: {
    style() {
      return {
        display: "flex",
        width: "100%",
        height: "100%",
        backgroundImage: `url(${this.cover})`,
        backgroundSize: "cover",
        backgroundRepeat: "no-repeat",
      };
    },
  },
};
</script>