<template>
  <router-link :to="href" :class="$style.link">
    <slot />
  </router-link>
</template>

<script>
import { booqHref } from "@/core/refs.js";

export default {
  name: "BooqLink",
  props: {
    booqId: String,
    path: Array,
  },
  computed: {
    href() {
      return booqHref(this.booqId, this.path ?? [0]);
    },
  },
};
</script>

<style module>
.link {
  cursor: pointer;
  text-decoration: none;
}
</style>