<template>
  <div>
    <span v-for="(span, idx) in spans" :class="{ bold: span.bold }" :key="idx">{{ span.text }}</span>
  </div>
</template>

<script>
function buildEmphasis(text, emphasis) {
  text = text || "";
  if (!emphasis.length) {
    return [{ text, bold: false }];
  }
  const index = text.toLowerCase().indexOf(emphasis.toLowerCase());
  if (index >= 0) {
    const pre = text.substr(0, index);
    const emp = text.substr(index, emphasis.length);
    const next = text.substr(index + emphasis.length);
    const nextSpans = buildEmphasis(next, emphasis);
    return [
      {
        text: pre,
        bold: false,
      },
      {
        text: emp,
        bold: true,
      },
      ...nextSpans,
    ];
  } else {
    return [{ text, bold: false }];
  }
}

export default {
  name: "EmphasizedSpan",
  props: ["text", "emphasis"],
  computed: {
    spans() {
      return buildEmphasis(this.text, this.emphasis);
    },
  },
};
</script>

<style scoped>
.bold {
  font-weight: bold;
}
</style>
