<template>
  <ApolloQuery :query="require('../graphql/FeaturedQuery.gql')">
    <template slot-scope="{ result: { loading, error, data } }">
      <div v-if="loading" key="spinner" class="spinner">Loading...</div>
      <div v-else-if="error" class="error apollo">An error occured</div>
      <div v-else-if="data" :class="$style.container">
        <div v-for="(item, idx) in data.featured" :key="idx">
          <BooqCard v-if="item" :item="item" />
        </div>
      </div>
    </template>
  </ApolloQuery>
</template>

<script>
import BooqCard from "@/components/BooqCard.vue";

export default {
  name: "Featured",
  components: { BooqCard },
};
</script>

<style module>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
</style>