<template>
  <font-awesome-icon :icon="icon"></font-awesome-icon>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faAngleLeft, faQuestion } from "@fortawesome/fontawesome-free-solid";

export default {
  name: "Icon",
  props: { name: String },
  computed: {
    icon() {
      switch (this.name) {
        case "back":
          return faAngleLeft;
        default:
          return faQuestion;
      }
    },
  },
  components: {
    FontAwesomeIcon,
  },
};
</script>