<template>
  <div :class="$style.logo">BOOQS</div>
</template>

<script>
export default {
  name: "Logo",
};
</script>

<style module>
@import url("https://fonts.googleapis.com/css?family=Lato:wght@300&display=swap");
.logo {
  color: rgba(253, 163, 2, 1);
  font-family: Lato;
  font-size: x-large;
  font-weight: 300;
  background: linear-gradient(
    180deg,
    rgba(253, 163, 2, 1) 50%,
    rgb(200, 145, 2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  user-select: none;
}
</style>
