<template>
  <BooqLink :booqId="booqId" :path="path">
    <div :class="$style.container">
      <div :class="$style.button">{{title}}</div>
    </div>
  </BooqLink>
</template>

<script>
import BooqLink from "@/components/BooqLink.vue";

export default {
  name: "NavigationButton",
  props: {
    title: String,
    booqId: String,
    path: Array,
  },
  components: { BooqLink },
};
</script>

<style module>
.container {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 3rem;
}
.icon {
  margin: 0 var(--regular) 0 0;
}
.button {
  display: flex;
  text-align: center;
  color: var(--theme-dimmed);
  border: 2px solid var(--theme-dimmed);
  border-radius: var(--radius);
  font-weight: 400;
  text-decoration: none;
  padding: var(--small) var(--regular);
  cursor: pointer;
  transition: 250ms border-color, 250ms color;
}
.button:hover {
  color: var(--theme-highlight);
  border-color: var(--theme-highlight);
}
</style>