<template>
  <div :class="$style.container">
    <div :class="$style.content">
      <input :class="$style.searchbox" type="text" placeholder="Search..." v-model="query" />
      <div :class="$style['results-container']">
        <ApolloQuery :query="require('../graphql/SearchQuery.gql')" :variables="{ query }">
          <template slot-scope="{ result: { loading, error, data } }">
            <!-- Loading -->
            <div v-if="loading" key="spinner" class="spinner">Loading...</div>

            <!-- Error -->
            <div v-else-if="error" class="error apollo">An error occured</div>

            <!-- Result -->
            <div v-else-if="data" :class="$style.results">
              <div v-for="(result, idx) in data.search" :key="idx">
                <SearchResult :result="result" :query="query" />
              </div>
            </div>

            <!-- No result -->
            <div v-else>Nothing found</div>
          </template>
        </ApolloQuery>
      </div>
      <p :class="$style.shadow" />
    </div>
  </div>
</template>

<script>
import SearchResult from "@/components/SearchResult.vue";
export default {
  name: "Search",
  data() {
    return {
      query: "",
    };
  },
  props: {
    results: Array,
    loading: Boolean,
  },
  components: {
    SearchResult,
  },
};
</script>

<style module>
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 0 1;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  color: var(--theme-primary);
  max-height: var(--panel-height);
  overflow: visible;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--theme-background);
  border-radius: var(--radius);
}
.searchbox {
  display: flex;
  border: none;
  max-width: 7rem;
  margin: var(--regular) var(--large);
  font: inherit;
  font-size: x-large;
  font-weight: 300;
  color: var(--theme-primary);
  background-color: rgba(0, 0, 0, 0);
}
.searchbox:focus {
  max-width: auto;
  border: none;
  outline: none;
}
.searchbox::placeholder {
  color: var(--theme-dimmed);
}
.results-container {
  display: none;
  flex-direction: column;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  overflow: hidden;
}
.searchbox:focus + .results-container {
  display: flex;
}
.results-container:hover {
  display: flex;
}
.shadow {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: var(--radius);
  transition: 250ms box-shadow;
}
.searchbox:focus ~ .shadow {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--theme-border);
}
.results {
  display: flex;
  flex-direction: column;
  max-height: 19rem;
  overflow: hidden;
}
.results:hover {
  overflow: auto;
}
.spinner {
  align-self: center;
  margin: var(--large);
}
</style>
