<template>
  <BooqLink :booqId="result.id">
    <div :class="$style.container">
      <BooqCover :cover="result.cover" :title="result.title" :author="result.author" :size="20" />
      <div :class="$style.details">
        <EmphasizedSpan :text="result.title" :emphasis="query" />
        <EmphasizedSpan :text="result.author" :emphasis="query" />
      </div>
    </div>
  </BooqLink>
</template>

<script>
import BooqLink from "@/components/BooqLink.vue";
import BooqCover from "@/components/BooqCover";
import EmphasizedSpan from "@/components/EmphasizedSpan";

export default {
  name: "SearchResult",
  props: {
    result: Object,
    query: String,
  },
  components: {
    BooqLink,
    BooqCover,
    EmphasizedSpan,
  },
};
</script>

<style module>
.container {
  display: flex;
  flex-direction: row;
  font-size: medium;
  padding: var(--regular);
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  text-decoration: none;
  color: var(--theme-primary);
}
.container:hover {
  background-color: var(--theme-highlight);
  color: var(--theme-background);
}
.details {
  display: flex;
  flex-direction: column;
  margin: 0 var(--large);
}
</style>
