<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato:wght@300;700&display=swap");

:root {
  font-family: Lato;

  --panel-height: 3rem;

  --small: 0.25rem;
  --regular: 0.5rem;
  --large: 1rem;
  --x-large: 2rem;
  --xx-large: 4rem;

  --radius: 4px;

  --theme-action: #f57f17;
  --theme-background: white;
  --theme-border: #ddd;
  --theme-dimmed: #867b6c;
  --theme-highlight: orange;
  --theme-primary: black;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: var(--theme-primary);
  background: var(--theme-background);
}
</style>
